.flashy{
  color: red;
  font-style: italic;
}

p.intro {
  width: 50%;
  font-weight: bold;
  color: orange;

}

p.best {
  color: blue;
  width: 75%;
  font-weight:bold;
  font-style: italic;
}

ul.list{
  width: 100%;
  color: red;
  font-style: italic;
}
